.reeses-background {
    background-image: url('./ReesesBackground.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.goback a{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(81, 234, 81);
    font-weight: 800;
}